---
import { getCollection } from "astro:content";
import Layouts from "./../../../layouts/Layouts.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
    const post = await getCollection('blog');
    return post.map((i) => ({
        params: { slug: i.id },
        props: { post: i },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);

// date format
const date = post.data.date.toISOString().split('T')[0];

// tags
const tags = post.data.tags
---

<Layouts title={post.data.title} desc={post.data.description} ogImage={Astro.url + '/og-image.png'} keywords={post.data.tags.join(', ')}>
    <table>
        <tr>
            <td>title</td>
            <td>{post.data.title}</td>
        </tr>
        <tr>
            <td>date</td>
            <td>{date}</td>
        </tr>
        <tr>
            <td>description</td>
            <td>{post.data.description}</td>
        </tr>
        <tr>
            <td>tags</td>
            <td>{ tags.map((i) => <a style="margin-right: .4em;" href={`/tags/${i}`}>{i}</a>) }</td>
        </tr>
    </table>
    <Content />
</Layouts>
