---
import { getCollection } from 'astro:content';
import Layouts from './../../../layouts/Layouts.astro';
import { render } from 'astro:content';
import { author, readTime } from '../../../lib/utils';
import { Image } from 'astro:assets';
import SosialShare from '../../../components/SosialShare.astro';
import BackToTop from '../../../components/BackToTop.astro';

export async function getStaticPaths() {
  const post = await getCollection('blog');
  return post.map((i) => ({
    params: { slug: i.id },
    props: { post: i },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const date = post.data.date.toISOString().split('T')[0];
---

<Layouts
  title={post.data.title}
  desc={post.data.description}
  ogImage={Astro.site?.origin + '/' + post.id + '/' + 'og-image.png'}
  keywords={post.data.tags.join(', ')}>
  {
    post.data.cover && (
      <Image
        src={post.data.cover}
        alt={post.data.title}
        style={{
          borderRadius: '1em',
          width: '100%',
          outline: '2px solid rgba(22, 20, 20, 0.308)',
          border: '#ffffff 4px solid',
        }}
      />
    )
  }
  <span class='bg-indigo-800 lowercase px-1 text-xs rounded-sm inline pb-[3px]'>
    <a class='text-slate-100' href={'/tags/' + post.data.tags}>
      {post.data.tags}
    </a>
  </span>
  <h1 class='text-2xl font-semibold mt-0'>{post.data.title}</h1>
  <span class='flex gap-2 items-center'>
    <sub>
      <i class='fa-duotone fa-solid fa-clock'></i>{date}
    </sub>
    <sub>
      <i class='fa-duotone fa-solid fa-user-tie-hair'></i>{author.name}
    </sub>
    <sub>
      <i class='fa-duotone fa-solid fa-book-open-cover'></i>{readTime(post.body ? post.body.toString() : '')} minute read
    </sub>
  </span>
  <div class='post'>
    <Content />
  </div>
  <SosialShare titleShare={post.data.title}/>
  <BackToTop />
</Layouts>

<style is:global lang='scss'>
  .post {
    img {
      width: 100%;
      outline: 2px solid rgba(22, 20, 20, 0.308);
      border: #ffffff 4px solid;
      border-radius: 1.5rem;
    }

  }
  span {
    sub {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
</style>
